@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

#header {
    width: 100%;
    max-width: 1200px;
    background: coral;
}

.header {
    /* background: maroon; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#header .title {
    color: rgb(201, 197, 197);
    text-transform: uppercase;
    font-weight: 500;
    width: 100px;
    text-align: center;
}

#header nav {
    background: maroon;
    height: 100%;
    width: auto;
}

#header .nav-list {
    display: flex;
    list-style: none;
    padding: 20px 40px;
}

#header .list-item {
    display: flex;
    justify-content: ;
    align-items: center;
    margin-right: 20px;
}